@charset "UTF-8";
/* CSS Document */
#botovidtutorialsMain {
	display: block;
	padding: 10px 0 0 10px;
}
#tbl-vidtutorial {
	margin: 0 30px 0 0;
	border: 0;
}
#tbl-vidtutorial td {
	padding: 3px 3px 11px 3px;
	border-bottom: 1px solid #666;
	font-size: 11px;
	line-height: 16px;
}
#tbl-vidtutorial a {

}
#tbl-vidtutorial a:hover,
#tbl-vidtutorial a:focus {
	text-decoration: underline;
	color: #C00;
}
tr.tbl-kapitel-tr:hover,
tr.tbl-kapitel-tr:focus {
	background-color: #FFF !important;
}
.tbl-kapitel-td-index {
	width: 28px;
	background-color: #CCC;
	text-align:right;
}
.tbl-kapitel-td-index p {
	font-weight: bold;	
	padding: 5px 4px 0 0;
	font-size: 13px;
}
.tbl-kapitel-td-0 {
	width: 340px;
}
.tbl-kapitel-td-1 {
	width: 90px;
	text-align: right;
}
#tbl-vidtutorial td h4 {
	background-color: transparent !important;
}
a.botovidtutorialsplay {
	display: block;
	height: 16px;
	line-height: 16px;
	padding: 0 0 0 20px;
	background-image:url(lib/control_play_blue.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.botovidtutorials-info {
	padding: 20px 0 0 0;
}