{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:be.container
	includeCssFiles="{
		1: '{f:uri.resource(path:\'Css/styles.css\')}'
		0: '{f:uri.resource(path:\'Css/cms-override.css\')}'
	}"
	includeJsFiles="{
		0: '{f:uri.resource(path:\'JavaScript/vidtutorials.js\')}'
	}"
>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
	<div class="typo3-docheader-functions">
		<div class="left">
			<f:be.buttons.csh />
			<f:be.menus.actionMenu>
				<f:be.menus.actionMenuItem label="{f:translate(key: 'index')}" controller="Botovidtutorials" action="index" />
				<f:be.menus.actionMenuItem label="{f:translate(key: 'debuginfo')}" controller="Botovidtutorials" action="debuginfo" />
				<f:comment>
				<f:be.menus.actionMenuItem label="{f:translate(key: 'ticket')}" controller="Botovidtutorials" action="ticket" />
				</f:comment>
			</f:be.menus.actionMenu>
		</div>
		<div class="right">
			<a href="#" onClick="document.location.reload();">
				<core:icon identifier="actions-system-refresh" /></a>
			<f:be.buttons.shortcut />
		</div>
	</div>
	</div>
</div>


<h1><f:render section="headline" /></h1>
<f:render section="content" />

</f:be.container>
