/** Styles only for EXT: botovidtutorials */

body {
	background-color: rgb(245, 245, 245);
}

.example {
	background-color: #fff;
	border: 1px solid rgb(237, 237, 237);
	padding: 12px;
	margin-bottom: 12px;
}

	.example:before {
		content: 'EXAMPLE';
		color: rgb(200, 200, 200);
		display: block;
		font-weight: normal;
		font-size: 0.9em;
		margin-bottom: 12px;
	}

.example.code {
	background-color: #272822;
	color: #f8f8f8;
	font-family: monospace, fixed;
	box-shadow: inset 0 0 10px #000;
}

.tag-border {
	color: #79ABFF;
}
.tag-name {
	color: #BED6FF;
}
.tag-attribute {
	color: #BED6FF;
}
.tag-attribute-value {
	color: #E6DB74;
}
.tag-equals {
	color: #F8F8F2;
}

.ci-color {
	background-color: rgb(255, 134, 0);
}
.highlight-color {
	background-color: rgb(50, 160, 255);
}
.help-chapter {
	background-color: #666;
	color: #fff;
}
.videohelp-table a {
	font-weight: bold;
}