
<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
	<f:translate key="debuginfo" />
</f:section>


<f:section name="content">
	<p>Die untenstehenden Informationen können Sie bei Bedarf während eines telefonischen Supports direkt an uns senden.</p>
    <iframe src="https://bosshartong.ch/support/" width="100%" height="100%" style="height: 800px;">Ihr Browser unterstützt keine iFrames</iframe>
</f:section>