{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
	<f:translate key="vidtutorialstitel" />
</f:section>


<f:section name="content">
	<p>Die nachfolgenden Video-Tutorials geben Ihnen einen überblick über die in Ihrer Seite verfügbaren Funktionen von TYPO3.<br />
    Bei weitergehenden Fragen zum Umgang mit TYPO3 erreichen Sie uns zu Bürozeiten unter 071 511 21 90.</p>
    <p>Sämtliche Video-Kapitel werden in einem Popup-Fenster angezeigt. So können Sie die Arbeitsschritte direkt in TYPO3 nachvollziehen.</p>
    <!--
        TOC
    -->


    <table class="t3-table videohelp-table">
        <thead>
            <th width="40">#</th>
            <th>Inhalt des Kapitels</th>
            <th width="120">Dauer</th>
        </thead>
        <tbody>
                <tr class="t3-row-header">
            <td colspan="3"
                class="help-chapter"><h4>Grundlagen</h4></td>
        </tr>
            <tr>
                <td valign="top">101</td>
                <td>
                    <a href="javascript:VideoFenster('229820304');">Einleitung, Konzepte und Begriffe</a><br />
                    <p>Lernen Sie die grundlegenden Benutzerkonzepte und Begriffe von TYPO3 Version 8LTS kennen.</p>
                </td>
                <td>ca 8 Min.</td>
            </tr>
            <tr>
                <td>102</td>
                <td>
                    <a href="javascript:VideoFenster('229820459');">Was ist der Frontend-Cache?</a><br />
                    <p>Über den Seitenbaum können Sie die vorhandenen Seiten des TYPO3-Projektes sehen. In den meisten Fällen spiegelt der Seitenbaum auch die Navigationsstruktur der Website wider. Ausserdem gibt es auch noch verschiedene Seitentypen, die sich im Frontend unterschiedlich verhalten.</p>
                </td>
                <td>ca 5 Min.</td>
            </tr>


        <tr class="t3-row-header">
            <td colspan="3" class="help-chapter"><h4>Seitenbaum: Arbeiten mit Seiten</h4></td>
        </tr>
            <tr>
                <td>201</td>
                <td>
                    <a href="javascript:VideoFenster('229821733');">Der Seitenbaum</a><br />
                    <p>Über den Seitenbaum können Sie die vorhandenen Seiten des TYPO3-Projektes sehen. In den meisten Fällen spiegelt der Seitenbaum auch die Navigationsstruktur der Website wider. Ausserdem gibt es auch noch verschiedene Seitentypen, die sich im Frontend unterschiedlich verhalten.</p>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr>
                <td>205</td>
                <td>
                    <a href="javascript:VideoFenster('229821939');">Neue Seiten anlegen</a><br>
                    <p>In diesem Video sehen Sie, wie Sie neue Seiten in TYPO3 erzeugen können.</p>
                </td>
                <td>ca 8 Min.</td>
            </tr>
            <tr>
                <td>210</td>
                <td>
                    <a href="javascript:VideoFenster('229821811');">Seiten kopieren und verschieben</a><br />
                    <p>Über den Seitenbaum können Sie vorhandene Seiten beliebig an eine andere Position verschieben. Sie können auch Kopien von vorhandenen Seiten anlegen. Dafür stehen mehrere Methoden zur Verfügung.</p>
                </td>
                <td>ca 3 Min.</td>
            </tr>
            <tr>
                <td>220</td>
                <td>
                    <a href="javascript:VideoFenster('229822158');">Seiten umbenennen</a><br />
                    <p>Vorhandene Seiten können jederzeit umbenannt werden. Wie so oft stehen einem dabei in TYPO3 mehrere Methoden zur Verfügung</p>
                </td>
                <td>ca 2 Min.</td>
            </tr>
            <tr>
                <td>230</td>
                <td>
                    <a href="javascript:VideoFenster('229822177');">Seiten suchen und filtern im Seitenbaum</a><br />
                    <p>Kennen Sie die Such- / Filterfunktion im Seitenbaum schon?</p>
                </td>
                <td>ca 3 Min.</td>
            </tr>
            <tr>
                <td>240</td>
                <td>
                    <a href="javascript:VideoFenster('229822427');">Seiteneigenschaften</a><br >
                    <p>Über die Seiteneigenschaften lassen sich für jede Seite diverse Einstellungen vornehmen. So kann man z.B. den Seitentitel ändern, Metadaten wie z.B. eine Beschreibung hinterlegen und vieles mehr.</p>
                </td>
                <td>ca 8 Min.</td>
            </tr>
            <tr class="t3-row-header">
                <td colspan="3" class="help-chapter"><h4>Dateiliste: Arbeiten mit Dateien</h4></td>
            </tr>
            <tr>
                <td>301</td>
                <td>
                    <a href="javascript:VideoFenster('229821192');">Dateien hochladen</a><br />
                    <p>Bilder oder andere Dateien, die Sie in Inhaltselementen verwenden möchten, müssen erst einmal im TYPO3-Backend hochgeladen werden. In diesem Video sehen Sie, wie im "Dateiliste"-Modul Dateien hochladen, verwalten und in Ordnerstrukturen organisieren können.</p>
                </td>
                <td>ca 9 Min.</td>
            </tr>
            <tr>
                <td>310</td>
                <td>
                    <a href="javascript:VideoFenster('229821222');">Metadaten von Dateien verwalten</a><br />
                    <p>Im Dateilisten-Modul kann man sehr einfach Dateien kopieren oder in andere Verzeichnisse verschieben.</p>
                </td>
                <td>ca 9 Min.</td>
            </tr>
            <tr>
                <td>320</td>
                <td>
                    <a href="javascript:VideoFenster('229821271');">Erweiterte Ansicht im Dateilisten-Modul nutzen</a><br />
                    <p>Die erweiterte Ansicht bietet nützliche Funktionen wie zB Ersetzen von Dateien an.</p>
                </td>
                <td>ca 8 Min.</td>
            </tr>
            <tr>
                <td>330</td>
                <td>
                    <a href="javascript:VideoFenster('229821301');">Dateien kopieren und verschieben</a><br />
                    <p>Im Dateilisten-Modul kann man sehr einfach Dateien kopieren oder in andere Verzeichnisse verschieben.</p>
                </td>
                <td>ca 8 Min.</td>
            </tr>
            <tr class="t3-row-header">
                <td colspan="3" class="help-chapter"><h4>Editor: Arbeiten mit dem Text-Editor</h4></td>
            </tr>
            <tr>
                <td>410</td>
                <td>
                    <a href="javascript:VideoFenster('229823527');">Texte erstellen und bearbeiten mit dem Rich Text Editor</a><br />
                    <p>Sobald Sie Texte für Ihre Website erstellen möchten, kommen Sie im TYPO3 Backend mit dem sog. Rich Text Editor, oder abgekürzt RTE, in Berührung. Damit können Sie, ähnlich wie bei einem Textverarbeitungsprogramm, Texte eingeben und formatieren. Allerdings gibt es dabei die eine oder andere Sache zu beachten.</p>
                </td>
                <td>ca 11 Min.</td>
            </tr>
            <tr>
                <td>420</td>
                <td>
                    <a href="javascript:VideoFenster('229824158');">Der Rich Text-Editor - Texte kopieren / einfügen</a><br />
                    <p>Sehr häufig wird man schon digital vorhandene Texte aus anderen Quellen (PDF, Word, Webseiten) im Rich Text Editor (RTE) weiter verarbeiten. Dazu kann man diese Texte natürlich per "Kopieren und Einfügen (Copy & Paste)" in den RTE übertragen. Dabei sollte man aber ein paar wichtige Punkte unbedingt beachten.</p>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr class="t3-row-header">
                <td colspan="3" class="help-chapter"><h4>Inhaltselemente:</h4></td>
            </tr>
            <tr>
                <td>500</td>
                <td>
                    <a href="javascript:VideoFenster('229993618');">Allgemeine Felder + Überblick</a><br />
                    <p>Obwohl es verschiedene Arten von Inhaltselementen in TYPO3 gibt, haben diese einige Gemeinsamkeiten. Viele Felder in den Eingabeformularen kommen bei fast allen Inhaltselementen vor. Diese gemeinsamen Felder lernen Sie in diesem Video kennen.</p>
                </td>
                <td>ca 10 Min.</td>
            </tr>
            <tr>
                <td>505</td>
                <td>
                    <a href="javascript:VideoFenster('230131206');">Bild-Editor verwenden</a><br />
                    <p>Mit dem integrierten Bildeditor können Sie Bilder jederzeit frei oder nach bestimmten Vorgaben zuschneiden. Das Originalbild wird dabei nicht verändert.</p>
                </td>
                <td>ca 4 Min.</td>
            </tr>
            <tr>
                <td>510</td>
                <td>
                    <a href="javascript:VideoFenster('229993752');">Text & Bilder</a><br />
                    <p>Mit dem Inhaltselement "Text & Media" werden Sie sicher am häufigsten arbeiten. Es dient dazu, normalen Text auf der Website darzustellen. Optional kann man aber auch bestimmte Dateien wie Bilder, Audiodateien oder auch Videos mit diesem Text verknüpfen.</p>
                </td>
                <td>ca 15 Min.</td>
            </tr>
            <tr>
                <td>520</td>
                <td>
                    <a href="javascript:VideoFenster('230131752');">Tabelle</a><br />
                    <p>Mit diesem Inhaltselement können Sie Daten in einer tabellarischen Form anzeigen lassen. Seine Stärke spielt dieses Inhaltselement vor allem dann aus, wenn diese Daten z.B. schon in Form einer CSV-Datei vorliegen.</p>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr>
                <td>530</td>
                <td>
                    <a href="javascript:VideoFenster('230131877');">Dateilinks</a><br />
                    <p>Mit diesem Inhaltselement können Sie z.B. beliebige Dateien zum Download anbieten.</p>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr>
                <td>540</td>
                <td>
                    <a href="javascript:VideoFenster('235889829');">Menüs</a><br />
                    <p>Mit den "Spezial-Menüs" kann man auch als Redakteur bestimmte Arten von Navigations-Menüs erstellen. Ein Beispiel wäre die klassische Sitemap, also ein Inhaltsverzeichnis der gesamten Website.</p>
                </td>
                <td>ca 10 Min.</td>
            </tr>

            <tr>
                <td>550</td>
                <td>
                    <a href="javascript:VideoFenster('235890000');">Datensätze</a><br />
                    <p>Über das Inhaltselement "Datensätze einfügen" können Inhaltselemente auf anderen Seiten instanziert werden. Auf diese Art können Inhaltselemente mehrfach auf einer Website verwendet werden, müssen aber nur einmal gepflegt werden. Änderungen im Original-Element werden automatisch in den Instanzen übernommen.</p>
                </td>
                <td>ca 4 Min.</td>
            </tr>


            <tr class="t3-row-header">
                <td colspan="3" class="help-chapter"><h4>Allgemein: Zeitsteuerung, Zwischenablage und Suche</h4></td>
            </tr>

            <tr>
                <td>700</td>
                <td>
                    <a href="javascript:VideoFenster('236369367');">Inhaltselemente bearbeiten, ausblenden und verschieben</a><br />
                    <p>In diesem Video lernen Sie, wie Sie vorhandene Inhaltselemente bearbeiten, vorübergehend ausblenden oder an eine andere Position innerhalb einer Seite verschieben.</p>
                </td>
                <td>ca 4 Min.</td>
            </tr>

            <tr>
                <td>710</td>
                <td>
                    <a href="javascript:VideoFenster('235890122');">Seiten und Inhalte zeitgesteuert veröffentlichen</a><br />
                    <p>Das automatische Veröffentlichen von Inhalten ist eine der Kernfunktionen von TYPO3. Sie können den Zeitpunkt, zu dem ein Inhaltselement auf der Seite erscheinen soll, genauso vorplanen wie den Zeitpunkt, zu welchem es wieder ausgeblendet werden soll.</p>
                </td>
                <td>ca 5 Min.</td>
            </tr>


        </tbody>
        </table>
    <!--

        <ol>
            <li><f:link.action action="typography">Typography</f:link.action></li>
            <li><f:link.action action="trees">Trees</f:link.action></li>
            <li><f:link.action action="tables">Tables</f:link.action></li>
            <li><f:link.action action="forms">Forms</f:link.action></li>
            <li><f:link.action action="buttons">Buttons</f:link.action></li>
            <li><f:link.action action="flashMessages">FlashMessages</f:link.action></li>
            <li><f:link.action action="helpers">Helpers</f:link.action></li>
        </ol>

    -->
    <!--
        Legal
    -->

    <br />
    <br />
	<h5>Quelle Video-Tutorials:</h5>
	<p>Bestimmte Videos entstammen dem Videokurs "TYPO3 8 für Redakteure" von jweiland.net unter <a href="https://jweiland.net/video-anleitungen/typo3/typo3-8-fuer-redakteure.html" target="_blank">https://jweiland.net/video-anleitungen/typo3/typo3-8-fuer-redakteure.html</a></p>


</f:section>