
<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
	<f:translate key="vidtutorialstitel" />
</f:section>


<f:section name="content">
	<p class="lead">Video-Tutorials für Web-Redaktoren.</p>

	<p>Die nachfolgenden Video-Tutorials geben Ihnen einen überblick über die in Ihrer Seite verfügbaren Funktionen von TYPO3.<br />
    Bei allfälligen Fragen oder weitergehender Unterstützung zum Umgang mit TYPO3 erreichen Sie uns zu Bürozeiten unter 071 511 21 90.</p>
    <p>Sämtliche Video-Kapitel werden in einem separaten Popup-Fenster angezeigt. So können Sie die Arbeitsschritte direkt in TYPO3 nachvollziehen.</p>
	<!--
		TOC
	-->

	<h2>Inhaltsverzeichnis</h2>
    <table class="t3-table">
        <thead>
            <th>#</th>
            <th>Inhalt des Kapitels</th>
            <th>Dauer</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <a href="javascript:VideoFenster('93999500');">Der Seitenbaum</a>
                </td>
                <td>ca 14 Min.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="javascript:VideoFenster('94001103');">Seiten verschieben und kopieren</a>
                </td>
                <td>ca 6 Min.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <a href="javascript:VideoFenster('94001557');">Neue Seiten anlegen</a>
                </td>
                <td>ca 5 Min.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <a href="javascript:VideoFenster('94150062');">Seiten umbenennen</a>
                </td>
                <td>ca 2 Min.</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a href="javascript:VideoFenster('94150064');">Seiteneigenschaften</a>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <a href="javascript:VideoFenster('94153660');">TYPO3 Element-Browser</a>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    <a href="javascript:VideoFenster('94150069');">Der Rich Text-Editor - Überblick</a>
                </td>
                <td>ca 9 Min.</td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <a href="javascript:VideoFenster('94154595');">Der Rich Text-Editor - Texte kopieren / einfügen</a>
                </td>
                <td>ca 6 Min.</td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <a href="javascript:VideoFenster('94154596');">Inhaltselemente anlegen - Überblick</a>
                </td>
                <td>ca 9 Min.</td>
            </tr>
            <tr>
                <td>10</td>
                <td>
                    <a href="javascript:VideoFenster('94154598');">Inhaltselemente anlegen - Text</a>
                </td>
                <td>ca 2 Min.</td>
            </tr>
            <tr>
                <td>11</td>
                <td>
                    <a href="javascript:VideoFenster('94333836');">Inhaltselemente anlegen - Text und Bilder</a>
                </td>
                <td>ca 16 Min.</td>
            </tr>
            <tr>
                <td>12</td>
                <td>
                    <a href="javascript:VideoFenster('94347329');">Inhaltselemente anlegen - Nur Bilder</a>
                </td>
                <td>ca 7 Min.</td>
            </tr>
            <tr>
                <td>13</td>
                <td>
                    <a href="javascript:VideoFenster('94505207');">Inhaltselemente anlegen - Tabelle</a>
                </td>
                <td>ca 10 Min.</td>
            </tr>
            <tr>
                <td>14</td>
                <td>
                    <a href="javascript:VideoFenster('94631227');">Inhaltselemente anlegen - Dateilinks</a>
                </td>
                <td>ca 10 Min.</td>
            </tr>
        </tbody>
        </table>





<!--

	<ol>
		<li><f:link.action action="typography">Typography</f:link.action></li>
		<li><f:link.action action="trees">Trees</f:link.action></li>
		<li><f:link.action action="tables">Tables</f:link.action></li>
		<li><f:link.action action="forms">Forms</f:link.action></li>
		<li><f:link.action action="buttons">Buttons</f:link.action></li>
		<li><f:link.action action="flashMessages">FlashMessages</f:link.action></li>
		<li><f:link.action action="helpers">Helpers</f:link.action></li>
	</ol>

-->
	<!--
		Legal
	-->

    <br />
    <br />
	<h5>Quelle Video-Tutorials:</h5>
	<p>Bestimmte Videos entstammen dem Videokurs "TYPO3 6.2 für Redakteure" von jweiland.net unter <a href="http://jweiland.net/typo3-hosting/service/video-anleitungen/typo3-62-fuer-redakteure.html" target="_blank">http://jweiland.net/typo3-hosting/service/video-anleitungen/typo3-62-fuer-redakteure.html</a></p>


</f:section>